<!-- <app-linechart1></app-linechart1> -->
<!-- <app-test></app-test> -->
 <!-- <app-linechart></app-linechart> -->
<app-navbar [@FadeInOut_navBar]></app-navbar>
<router-outlet />


<!-- <app-linechart></app-linechart> -->
<!--bar and pie chart static data -->
<!-- ,
      {
        title: {
          text: 'Bar Chart',
          right: 'center',
        },
        legend: {
          data: ['Email', 'Outlook'],
          bottom: 'bottom',
        },
        xAxis: {
          type: 'category',
          data: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
          axisLabel: {
            color: '#000',
          },
        },
        tooltip: {
          trigger: 'axis',
        },
        yAxis: {
          type: 'value',
          axisLabel: {
            color: '#000',
          },
        },
        series: [
          {
            name: 'Email',
            type: 'bar',
            data: [100, 200, 300, 150, 350, 100, 250],
            showBackground: true,
          },
          {
            name: 'Outlook',
            type: 'bar',
            data: [150, 250, 350, 100, 250, 190, 270],
            showBackground: true,
          },
        ],
      },
      {
        title: {
          text: 'Pie Chart',
          right: 'center',
        },
        legend: {
          data: ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],
          orient: 'vertical',
          left: 'left',
        },
        tooltip: {
          trigger: 'item',
        },
        series: [
          {
            name: 'Email',
            radius: '60%',
            type: 'pie',
            data: [
              { value: 100, name: 'Sunday' },
              { value: 200, name: 'Monday' },
              { value: 300, name: 'Tuesday' },
              { value: 150, name: 'Wednesday' },
              { value: 400, name: 'Thursday' },
              { value: 100, name: 'Friday' },
              { value: 250, name: 'Saturday' },
            ],
          },
        ],
        emphasis: {
          itemStyle: {
            shadowBlur: 10,
            shadowOffsetX: 3,
            shadowOffsetY: 3,
            shadowColor: 'rgba(0, 0, 0, 0.5)',
          },
        },
      },  -->